@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  font-family: "Montserrat", serif;
}
html {
  height: 100%;
}
body {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#curiosity {
  /* Interesting fact */
  margin-top: 96px;
}
#curiosity_2 {
  margin-top: 100px;
}
#curio {
  font-size: 4rem;
}
#regards {
  font-size: 3rem;
}

h1 {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-align: center;

  color: #f4622f;
}
#description {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
  text-align: center;

  color: #878887;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: url("../../assets/Background.svg") no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 70% 35vh;
}

#buttons_1row {
  padding-top: 50vh;
  padding-bottom: 2em;
}
.ui.massive.blue.button {
  width: 200px;
  height: 105px;
  background-color: #43a1f7;
  margin: 0 0.8em 0.1em 0;
  border-radius: 15px;
  font-weight: bold;
}
.ui.massive.violet.button {
  width: 200px;
  height: 105px;
  background-color: rgba(118, 182, 241, 0.75);
  margin: 0 0.8em 0.1em 0;
  border-radius: 15px;
  font-weight: bold;
}
#clock {
  margin-top: 45vh;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: normal;
  color: #ffffff;

  /* Clock color */
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 43.75em) {
  .ui.massive.blue.button {
    width: 105px;
    height: 75px;
    font-size: 15px;
  }
  .ui.massive.violet.button {
    width: 105px;
    height: 75px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 37.5em) {
  .background {
    background-position: 70% 30vh;
  }
}
@media only screen and (max-width: 57.5em) {
  .background {
    background-position: 70% 31vh;
  }
}
@media only screen and (max-width: 61.875em) {
  #curio {
    font-size: 3rem;
  }
  #description {
    font-size: 14px;
  }
}
@media only screen and (max-width: 39.375em) {
  .background {
    background-position: 70% 34vh;
  }
  #face-icon {
    padding-right: 23vw;
  }
}
